@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);
  
[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
    --button1: #161625;
    --button1-text: #e1e1ff;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  max-width: 100%;
  margin: 0 auto;
  font-size: calc(1rem + 0.25vh);
}

h1 {
    color: var(--heading-color);
    font-family: "Sansita One", serif;
    font-size: 2rem;
    margin-bottom: 1vh;
}

h3{
    color: var(--heading-color);
    font-family: "Sansita One", serif;
    font-size: 1.3rem;
    margin-bottom: 1vh;
}

h6{
    color: red;
    font-family: "Sansita One", serif;
    font-size: 1.3rem;
    margin-bottom: 1vh;
}

p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
  &:hover, &:focus {
      border-bottom: 3px solid currentColor;
  }
}

section {
  max-width: 68%;
  margin: 0 auto;
}

.post-meta {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-bottom: 4vh;
  color: var(--secondary-color);
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

/*slider switch css */
.theme-switch-wrapper {
  display: center;
  align-items: flex;
  
  em {
    margin-left: 10px;
    font-size: 1rem;
    
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;

}

.theme-switch input {
  display:none;
}
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.active {
  background-color: #4CAF50;
  color: var(--font-color);
}

.topnav {
  overflow: hidden;
  background-color: var(--bg-color);
}

.topnav a {
  border-radius: 25px;	
  border: 2px solid #4CAF50;
  float: left;
  display: inline-block;
  color:  var(--font-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 4px;
}

.topnav a:hover {
  border-radius: 25px;
  background-color: #4CAF50;
  color:  var(--font-color);
}

.topnav .icon {
  display: none;
}

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color:  var(--font-color);
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.middle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;

}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }